@using Presentation.Panel.Helpers;
@using MD.PersianDateTime

<header class="main-header">
    <a href="/Home/Index" class="logo">
        <span class="logo-mini"><b>SF</b></span>
        <span class="logo-lg"><b>سامانه پیش بینی</b></span>
    </a>
    <nav class="navbar navbar-static-top" role="navigation">
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
    </nav>
</header>